body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #444;
}

button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  border: none;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #1976D2;
}

#studentInfo {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.cat-img {
  margin-top: 20px;
  max-width: 80%;
  height: auto;
  border: 3px solid #ddd;
  border-radius: 12px;
}

  
